div.count-num{
	font-size: 15vw;
	font-weight: 400;
	font-family: 'Archivo Black', sans-serif;
	color: #444444;
}

div.count-desc{
	font-size: 3em;
	font-weight: 300;
}

button.rand-char{
	font-size: 2em;
	font-weight: 300;
	margin-top: 50px;
}