div.show-name {
	font-size: 5vw;
}

span.show-anyfix {
	font-size: 1.5vw;
}

div.show-short-description {
	font-size: 1em;
	font-style: italic;
}

div.show-long-description {
	padding-top: 20px;
	font-size: 1.5em;
}

button.form-btn.btn {
	font-size: 1.5em;
}

.relationship-section-title {
	font-size: 2em;
	padding-top: 20px;
}

.show-relationships ul {
	padding-left: 0px;
	font-size: 1em;
}

li.relationship {
	list-style-type: none;
}

.well-desc {
	font-weight: bold;
}